body{
    background-color: coral;
}

button{
    padding: 4px;
}

table{
    background-color: #20c997;
    width: 60%;
}

.fas{
    color: darkgreen;
}

h1{
    margin-left: 12px;
    padding-top: 8px;
    font-family: fantasy;
    color: midnightblue;
}

table tr:nth-child(1) {
	color: #fff;
	background-color:darkseagreen;
}

table .table-striped{
    width: 60%;
}   

p{
    border:290px;
}