.tipo input{
    margin-left: 55px;
    margin-bottom: 15px;
    margin-top: 8px;
}

.ti input{
    margin-left: 5px;
}

.boton button{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 350px;
    border: 2px solid gray;
    border-radius: 5px;
    color: white;
    background-color: #6C6B6B;
}

